/* color palette from <https://github.com/vuejs/theme> */
:root {
  --ms-border-color: rgba(0, 0, 0, 0.1);
  --ms-dark-grey: #6e6e6e;
  --ms-charcoal-black: #212121;
  --ms-white: #fff;
  --ms-grayish-white: #f1f1f4;
  --ms-light-gray: #a7a7a7;
}

/* semantic color variables for this project */
:root {
  --ms-border-avatar-color: var(--ms-light-gray);
  --text-color: var(--ms-charcoal-black);
  --border-color: var(--ms-border-color);
  --lighter-text-color: var(--ms-dark-grey);
  --background-icon-color: var(--ms-grayish-white);
  --border-avatar-color: var(--ms-light-gray);
  --login-background-color: linear-gradient(180deg, #f1f2f4, #44546f);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'SF Bold', 'Segoe System UI Bold', 'Segoe UI Bold', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}

/* Thanh cuộn */
::-webkit-scrollbar {
  width: 8px;
  /* Kích thước thanh cuộn dọc */
}

/* Phần nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: rgb(var(--v-theme-primary-lighten-1));
  /* Màu nền của thanh cuộn */
}

/* Phần thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--v-theme-secondary));
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

/* Phần thanh cuộn khi hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--v-theme-secondary-darken-1));
  /* Màu khi hover lên thanh cuộn */
}
