/* color palette from <https://github.com/vuejs/theme> */
:root {
  --ms-primary-color: #e85e41;
  --ms-light-purple-color: #eae7dc;
  --ms-border-color: rgba(0, 0, 0, 0.1);
  --ms-lighter-color: #6e6e6e;
  --ms-text-color: #212121;
  --ms-border-avatar-color: #a7a7a7;
}

/* semantic color variables for this project */
:root {
  --background-sidebar-color: var(--ms-light-purple-color);
  --background-button-color: var(--ms-primary-color);
  --primary-text-color: var(--ms-primary-color);
  --text-color: var(--ms-text-color);
  --border-color: var(--ms-border-color);
  --lighter-text-color: var(--ms-lighter-color);
  --background-icon-color: #f1f1f4;
  --border-avatar-color: var(--ms-border-avatar-color);
  --avatar-color: #d8c3a5;
  --background-message-color: #d8c3a5;
  --highlight-text-color: var(--ms-primary-color)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'SF Bold', 'Segoe System UI Bold', 'Segoe UI Bold', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}

/* Thanh cuộn */
::-webkit-scrollbar {
  width: 8px;
  /* Kích thước thanh cuộn dọc */
}

/* Phần nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Màu nền của thanh cuộn */
}

/* Phần thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: var(--background-message-color);
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

/* Phần thanh cuộn khi hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Màu khi hover lên thanh cuộn */
}